@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
body{
    font-family: 'Noto Sans JP', sans-serif;
}
:root{
    --primary-color:#6B7280;
}
.center-container{
  text-align: center;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.links{
    text-decoration:none;
    margin: auto;
    max-width: 20px;
    padding:0.5rem 1rem;
    border:5rem;
}


.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;

}
.link-secondary{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
}
.list-non-bullet{
    list-style: none;
    text-align: right;
}
.list-inline{
    display:inline;
    padding:0.5rem 1rem;
}
.navigation{
    background-color: var(--primary-color);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem;
}
.nav-link{
    color:white
}
.nav-name{
    max-width: 400px;
    padding: 2rem 2rem ;
    font-size: xx-large;

}
/* .nav-name1{
    font-size:larger;
} */
.navigation .active{
    font-weight: bolder;
}