@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
body{
    font-family: 'Noto Sans JP', sans-serif;
}
:root{
    --primary-color:#9CA3AF;
    --secondary-color:#30475e;
}
.center-container{
  text-align: center;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.links{
    text-decoration:none;
    margin: auto;
    max-width: 20px;
    padding:0.5rem 1rem;
    border:5rem;
}


.link-primary{
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    color:white;
    margin:auto;


}
.link-secondary{
    color:var(--secondary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--secondary-color);
}
.list-non-bullet{
    list-style: none;
    text-align: right;
}
.list-inline{
    display:inline;
    padding:0.5rem 1rem;
}
.navigation{
    background-color: var(--secondary-color);
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 5rem;
    padding:0.5rem;
    margin: 2px;
    display: flex;
}
.nav-link{
    color:white
}
/* .nav-name{
    max-width: 300px;
    /* padding: 2rem 2rem ; */
    /* margin: auto;
    font-size: 30px;
    font-size: 0.5in; */ 
.nav-name1{
    font-size:x-large;
}
.navigation .active{
    font-weight: bolder;
}
.head{
    padding:2rem;
}
/* .head img{
    width:400px;
    margin:2px 440px



} */
.head img{
    display:block;
    height:300px;
    width:500px;
    margin:auto;
}
.head .under-img{
    text-align: center;
    padding:1rem;
    padding-top: 1rem;
    color:var(--primary-color);
    font-weight: 800;
    font-size: 0.5in;

}
.head .nav-name2{
    text-align: center;
    padding:1rem;
    color:var(--secondary-color);
    font-weight: 800;
    font-size: 0.5in;
}
.section{
    text-align: center;
    padding: 1.5rem;
    /* padding-bottom: 3rem; */
    font-size: 25px;
}
.ow{
    text-align: center;
    scroll-padding-top: 5rem;
    padding-bottom: 2rem;
    background-color:#f0f0f0;
}
.footer{
    background-color: #30475e;
    border-top-right-radius: 2rem;
}
.footer .footer-header{
    text-align: center;
    color: #E5E7EB;
    padding: 2px;
    margin-top: 2px;
}
.footer img{
    display: inline;
    margin:auto;
    /* display: inline-flex;
    justify-content: center; */
}
.img1{
    max-width: 104px;
}
.img2{
    max-width: 60px;
    padding-right: 25px;
}
.img3{
    max-width: 61px;
    padding-top: 0.5rem;
}
.list-foot{
    margin:auto;
    display:flex;
    justify-content: center;
    padding-inline-start:0rem

}
.footer ul{
    padding-inline-start:0px;
}
.nav-img{
    border-radius: 10rem;
    max-width: 100px;
    margin: 0px 10px;
}
.mail{
    color:white
}